tensorflow==2.10.0
numpy>=1.23,<1.27
h5py
matplotlib
scikit-learn
scipy
seaborn
tqdm
streamlit==1.22.0
plotly>=5.0
protobuf==3.19.6
keras-tuner
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cublas-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
